
<p>Thank you for submItting data to TERN, you can view you submitted record here:</p>

<a href="https://{{site.domain}}{{ document.get_absolute_url }}">
  View record </a>

<p>One of the members of the TERN data curation team will review your
  submission and contact you if they require further information. Please
  contact <a href="mailto:esupport@tern.org.au">esupport@tern.org.au</a>
  if you have any queries about your submission. We will notify you
  when your submission is ready for publication through
  <a href="{{site.sitecontent.portal_url}}">{{ site.sitecontent.portal_title }}</a></p>
