
.SimpleListItem, .BreadcrumbListItem, .TableListItemRow {
    display: flex;
    align-items: center;
}

.SimpleListItem, .TableListItemRow {
    min-height: 30px;
}

.BreadcrumbListItem {
    min-height: 40px;
}

.SimpleListItemLabel, .BreadcrumbListItemLabel {
    flex: 1;
}

.BreadcrumbListItemPath {
    font-size: 0.8em;
    color: darkgrey;
}

.TableListItemCol {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}