{% extends 'imas/base.html' %}
{% block title %} Error 400 {% endblock %}
{% block content %}
<div class="card-header">
</div>
<div class="card-block">
    <p class="lead">
        Oops,
    </p><p class="lead">
        Please refresh your browser.
</p><p class="lead">
        If you still receive an error, please close and reopen the browser window and try again.
</p><p class="lead">
        If this error persists, please contact <a href="mailto:esupport@tern.org.au">esupport@tern.org.au</a>
    </p>
</div>
{% endblock %}