
<p>Thank you for submitting data to the TERN repository.</p>

Following is the link to your submitted record: <a href="https://{{site.domain}}{{ document.get_absolute_url }}">https://{{site.domain}}{{ document.get_absolute_url }}</a>

<p>The TERN data curation team will review your submission and contact you with any further information. If you have any queries about your submission, please email <a href="mailto:esupport@tern.org.au">esupport@tern.org.au</a> with the submitted record details. You will be notified when your record is published.</p>

<p>Kind Regards</p>
<p>TERN eSupport Team</p>
