{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load imagekit %}
{% load settings %}

{% block head_title %}{{ sitecontent.title }} {{ sitecontent.tag_line }}{% endblock %}

{% block pagestyles %}
<link rel="stylesheet" href="https://use.typekit.net/pwr4rlr.css">
<link rel="stylesheet" href="{% static 'metcalf3/css/style.landing-page.css' %}">
<style>
@media only screen and (width) {
     html, body {
         background-image: url({{homepage_image_url }});
    }
}
</style>
{% endblock %}

{% block body %}

<!-- Workaround for background-size: cover in IE8 -->
<!--[if lte IE 8]>
{% if homepage_image_url %}
<img src="{{ homepage_image_url }}" class="ie8-bg" alt="">
{% endif %}
<![endif]-->
<div class="main-header">
    <div class="container">
        <div class="main-header-container d-flex">
            <div class="site-branding">
                <a href="https://www.tern.org.au" target="_blank"><span><img
                            src="{% static 'metcalf3/img/logo@3x.png' %}" alt="" /></span></a>
            </div>
            <div class="main-header-bar-navigation">
                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul id="primary-menu" class="main-header-menu d-flex">
                    <li><a href="/dashboard" class="active">Home</a></li>
                    {% if sitecontent.guide_pdf %}
                    <li><a href="{{ sitecontent.guide_pdf }}" target="_blank">Help</a></li>
                    {% endif %}
                    {% settings_value "USE_TERN_AUTH" as use_tern_auth %}
                    {% if use_tern_auth %}
                    <li><a href="{% url 'oidc_authentication_init' %}">Login</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <!--
            {% bootstrap_messages %}
            -->

            <div class="inner cover">
                <p>&nbsp;</p>
                <h1 class="cover-heading">{{ sitecontent.title }} {{ sitecontent.tag_line }}</h1>

                <p class="lead">
                    Simplifying the process of capturing metadata and data for Australian terrestrial
                    ecosystems in a standard format to publish at the {{ sitecontent.portal_title }}.
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover image by
                        <a href="{{ sitecontent.homepage_image_credit_url }}">
                            {{ sitecontent.homepage_image_credit_name }}</a>
                        -
                        Code on <a href="https://bitbucket.org/terndatateam/data-submission-tool.git">BitBucket</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
