{:paths ["src/cljs" "src/spec" "src/gen" "test"]
 :deps  {binaryage/devtools          {:mvn/version "1.0.4"}
         cljs-ajax/cljs-ajax         {:mvn/version "0.8.4"}
         com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
         lambdaisland/fetch          {:mvn/version "1.0.41"}
         org.clojure/clojure         {:mvn/version "1.10.3"}
         org.clojure/clojurescript   {:mvn/version "1.10.891"}
         org.clojure/core.async      {:mvn/version "1.5.640"}
         org.clojure/test.check      {:mvn/version "1.1.0"}
         reagent/reagent             {:mvn/version "1.1.0"}
         re-frame/re-frame           {:mvn/version "1.2.0"}}
 :aliases
 {:shadow-cljs
  {:extra-deps {thheller/shadow-cljs   {:mvn/version "2.16.7"}
                cider/cider-nrepl      {:mvn/version "0.27.3"}
                org.slf4j/slf4j-simple {:mvn/version "1.7.32"}}}
  ; clj -Xclean-ns
  :clean-ns
  {:replace-deps {com.github.clojure-lsp/clojure-lsp {:mvn/version "2021.11.02-15.24.47"}}
   :exec-fn      clojure-lsp.api/clean-ns!
   :exec-args    {:dry? false :verbose true}}
  ; clj -M:clj-kondo
  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.10.19"}}
   :main-opts  ["-m" "clj-kondo.main" "--lint" "src/cljs"]}}}
