{:main            metcalf3.core
 :output-to       "resources/public/js/app.js"
 :output-dir      "resources/public/js/app"
 :asset-path      "/static/metcalf3/js/app"
 :closure-defines {goog.DEBUG true}
 :npm-deps        false
 :infer-externs   true
 :preloads        [metcalf3.preload]
 :foreign-libs    [{:file     "dist/index_bundle.js"
                    :provides ["cljsjs/react"
                               "cljsjs/react.dom"
                               "cljsjs.blueprint.core"
                               "cljsjs.blueprint.select"
                               "cljsjs.blueprint.table"
                               "cljsjs.blueprint.datetime"
                               "cljsjs.masked-input"
                               "cljsjs.moment"
                               "cljsjs.react-virtualized"
                               "cljsjs.react-window"
                               "cljsjs.auto-sizer"
                               "cljsjs.react-leaflet"
                               "cljsjs.fixed-data-table-2"
                               "cljsjs.react-select"
                               "cljsjs.react-imask"]}]
 }
