{:deps   {:aliases [:shadow-cljs]}
 :builds {:tern
          {:target     :browser
           :modules    {:app {:entries [metcalf3.core]}}
           :output-dir "resources/public/js/app"
           :asset-path "/static/metcalf3/js/app"
           :devtools   {:preloads [metcalf3.preload]}}
          :imas
          {:target     :browser
           :modules    {:app {:entries [metcalf.imas.core]}}
           :output-dir "resources/public/js/app"
           :asset-path "/static/metcalf3/js/app"
           :devtools   {:preloads [metcalf3.preload]}}
          :test
          {:target   :browser-test
           :test-dir "resources/public/js/test"
           :devtools {:http-port 8021
                      :http-root "resources/public/js/test"}}}}
