out
.iml
.idea
venv
.iws
.ipr
backend/guide
.DS_Store
.iml
.vagrant/
frontend/node_modules
frontend/dist
frontend/hsperfdata_root
.env

__pycache__/
v8-compile-cache-0/
yarn--*/

# windows needs *s to work properly
*.iws
*.ipr
*.iml
*.idea
backend/mcp2-template_spec_2.json
backend/mcp2-template.xml
frontend/volumes
volumes
clojure-*.edn
/frontend/storybook-static/
/frontend/src/gen/
/frontend/resources/public/css/style.npm-packaged.css*
/frontend/resources/public/css/images/[a-z]*.*
/frontend/resources/public/resources/icons/[a-z]*.*
es-data
.lsp/
.clj-kondo/
