out
.iml
.idea
venv
.iws
.ipr
backend/guide
.DS_Store
.iml
.vagrant/
frontend/node_modules
frontend/dist
frontend/hsperfdata_root
.env

__pycache__/
v8-compile-cache-0/
yarn--*/

# windows needs *s to work properly
*.iws
*.ipr
*.iml
*.idea
backend/mcp2-template_spec_2.json
backend/mcp2-template.xml
frontend/volumes
volumes
clojure-*.edn
frontend/src/gen
hs_err_pid1.log
.rebel_readline_history
.vscode
.devcontainer
*.map
