DJANGO_GMAPS_API_KEY=AIzaSyCzhDANmUaxnfFuO5xnFjtYDrI284Xy62o

DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost.localnet

SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432

OIDC_OP_AUTHORIZATION_ENDPOINT=https://auth-test.tern.org.au/auth/realms/local/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=https://auth-test.tern.org.au/auth/realms/local/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=https://auth-test.tern.org.au/auth/realms/local/protocol/openid-connect/userinfo
OIDC_OP_JWKS_ENDPOINT=https://auth-test.tern.org.au/auth/realms/local/protocol/openid-connect/certs
OIDC_RP_CLIENT_ID=<oidc client id>
OIDC_RP_CLIENT_SECRET=<oidc client secret>
OIDC_RP_SIGN_ALGO=RS256
OIDC_LOGOUT_ENDPOINT=https://auth-test.tern.org.au/auth/realms/local/protocol/openid-connect/logout
LOGIN_REDIRECT_URL=http://localhost:8000/dashboard
LOGOUT_REDIRECT_URL=http://localhost:8000/
