.FormGroup > .bp3-label,
.InlineFormGroup > .bp3-label {
        font-weight: bold;
}

label.bp3-label .FormGroupLabelInfo .bp3-button {
    min-width: 18px;
    min-height: 18px;
    margin: -6px 0 0;
}

label.bp3-label .FormGroupLabelInfo .bp3-popover2-target {
    display: inline-block;
    margin-top: 0;
}

.InlineFormGroup {
    display: flex;
    flex-direction: row;
}
.InlineFormGroup > .bp3-label {
    text-align: right;
    flex: 1;
    line-height: auto;
    display: flex;
}
.InlineFormGroup > .bp3-label > .InlineFormGroupLabelText {
    flex: 1;
    line-height: normal;
    padding-top: 5px;
}
.InlineFormGroup > .bp3-label > .bp3-text-muted {
    white-space: nowrap;
}
.InlineFormGroup > .bp3-form-content {
    flex: 3;
}
.FormGroupTooltipPopoverContent {
    max-width: 40vw
}
