[Unit]
Description=gunicorn daemon for metcalf
After=network.target

[Service]
PIDFile=/run/gunicorn_metcalf/pid
EnvironmentFile=/etc/environment
User=metcalf
Group=metcalf
RuntimeDirectory=gunicorn_metcalf
WorkingDirectory=/var/www/metcalf/backend
ExecStart=gunicorn --pid /run/gunicorn_metcalf/pid   \
          --bind unix:/run/gunicorn_metcalf/socket webapp.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
WantedBy=gunicorn_metcalf.socket
