# This is the master file; see deploy_requirements.txt for production.
# If necessary we could have a core set of requirements, and source
# that in for differences between prod/testing (eg, psycopg2 only in
# prod, and django-extensions only for testing)

Django==3.2.7
Pillow==8.3.2
django-bootstrap3==15.0.0
django-extensions==2.1.6
django-filter==2.4.0
django-fsm-admin==1.2.4
django-fsm==2.7.1
django-imagekit==4.0.2
django-storage-swift==1.2.19
django-treebeard==4.5.1
django-uuidfield==0.5.0
djangorestframework-jsonp==1.0.2
djangorestframework-xml==2.0.0
djangorestframework==3.12.4
dynaconf
elasticsearch-dsl>=7.0.0,<8.0.0
jsonfield==3.1.0
lxml==4.6.3
mozilla-django-oidc==2.0.0
pytz==2021.1
rdflib==6.0.0
requests==2.26.0
xmlunittest==0.5.0
