{% extends "imas/base.html" %}
{% load static %}
{% load frontend_tags %}

{% block pagestyles %}
<link rel="stylesheet" href="{% static 'metcalf3/css/style.npm-packaged.css' %}">
<link rel="stylesheet" href="{% static 'metcalf3/css/style.spa.css' %}">
<link rel="stylesheet" href="{% static 'metcalf3/css/style.spa.imas.css' %}">
{% endblock %}

{% block body %}
    <div id="Content"></div>

    <script>
    var payload = {{ payload|safe }}
    </script>
    {% FRONTEND_DEV_MODE as dev_build %}
    {% if dev_build %}
    <script type="text/javascript" src="{% static 'metcalf3/js/app/app.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static 'metcalf3/js/app/app.js' %}"></script>
    {% endif %}

{% endblock %}
