
.SimpleListItem {
    display: flex;
    min-height: 30px;
    align-items: center;
}

.SimpleListItemLabel {
    flex: 1;
}

.BreadcrumbListItemPath {
    font-size: 0.8em;
    color: darkgrey;
}

.TableListItemRow {
    display: flex;
}

.TableListItemCol {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}