
.DragHandleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DragHandleWrapperHandle {
    padding-right: 0.5em;
}

.DragHandleWrapperLabel {
    flex: 1;
}

.DragHandleWrapperRemoveButton {
    
}

.PickedItem {
    background-color: #99ffcc;
}

.AddedItem {
    background-color: #ffd9b3;
    cursor: pointer;
}
