
.DragHandleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DragHandleWrapperHandle {
    padding-right: 0.5em;
}

.TableSelectionListColumnHeaderRow {
    /* To allow for drag handle */
    padding-left: 25px;
    /* To allow for optional remove button */
    padding-right: 24px;  
}

.DragHandleWrapperLabel {
    flex: 1;
}

.DragHandleWrapperRemoveButton {
    
}

.SelectionListItem {
    margin: .2em 0;
}

.SelectionListPickedItem {
    background-color: #99ffcc;
}

.SelectionListAddedItem {
    background-color: #ffd9b3;
    cursor: pointer;
}
