.ExpandingControlHeader {
    background-color: darkseagreen;
    padding: 0.3em 1em;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid dimgrey;
    margin-bottom: 3px;
    cursor: pointer;
}
.ExpandingControlHeaderLabel {
    flex: 1
}