{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="form-signin-heading">{% trans "Sign In / Register" %}</h1>

<div style="display: flex; flex-direction: row; align-items: stretch; width: 100%">
    <div style="flex: 3; padding-right: 4em">
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Sign In" %} &raquo;
            </button>
            &nbsp;
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endbuttons %}
        </form>
    </div>
    <div style="flex: 2; ">
        <div><b>New User?</b></div>
        <p>If you have not created an account yet, then please
            <a href="{{ signup_url }}">register</a> first.</p>
        <div><a class="btn btn-primary" href="{{ signup_url }}">Register &raquo;</a></div>
    </div>
</div>
{% endblock %}
