.bp3-input-group.OutOfRangeValue {
    display: inline-block;
}
.ClearButtonSpacer {
    min-height: 24px;
    min-width: 24px;
    margin: 3px;
    padding: 0 7px;
}

.DayPicker-Caption > select {
    border: none;
    background: none;
    height: 100%;
    font-weight: 500;
}
