
.EditDialogDialog {
    background-color: white;
    width: 70vw;
}

.modal-sm.EditDialogDialog {
    background-color: white;
    width: 30em;
}

.EditOverlayDialog {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.EditDialogBody, .EditOverlayBody {
    flex: 1;
    max-height: 70vh;
    overflow:scroll;
    padding: 5px;
}

.EditOverlayFooter {
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}