.bp3-tab[aria-selected=true] {
    background-color: white;
}

.bp3-tab {
    padding: 5px;
    user-select: none;
}

.link-right-container {
	height: 20px;
}

a.link-right {
	float: right;
}

.bp3-input-group>.bp3-input-left-container>.bp3-icon, .bp3-input-group>.bp3-icon, .bp3-input-group .bp3-input-action>.bp3-spinner {
    margin: 9px;
}

.bp3-input {
    height: 34px;
}

textarea {
    resize: vertical;
}

.abstract-textarea textarea {
    min-height: 15em;
}

.lineage-textarea textarea {
    min-height: 10em;
}
