{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load imagekit %}

{% block head_title %}{{ sitecontent.title }} {{ sitecontent.tag_line }}{% endblock %}


{% block body %}

{% generateimage 'frontend:homepage_image' source=sitecontent.homepage_image as homepage_image %}

<style>

    /*
    * Globals
    */

    /* Links */
    a,
    a:focus,
    a:hover {
    color: #fff;
    }

    /* Custom default button */
    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
    }


    /*
    * Base structure
    */
	html,
    body {		
    height: 100%;
    color: #fff;
    text-align: center;
	}
	
	/* Use background-size: cover for anything greater than IE8 (IE8 doesn't support this media query) */
	@media only screen and (width)
	{
	html,
	body {
	background: #060 url({{ homepage_image.url }}) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}
	}
	
	/* Workaround for background-size: cover in IE8 */
	.ie8-bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	}

    /* Extra markup and styles for table-esque vertical and horizontal centering */
    .site-wrapper {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgSAMIMAAAawBnDb5zPgAAAABJRU5ErkJggg==); /* IE8 proofing dark colour background overlay */
    display: table;
	position: relative;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    }
    .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    }
    .cover-container {
    margin-right: auto;
    margin-left: auto;
    }

    /* Padding for spacing */
    .inner {
    padding: 30px;
    }


    /*
    * Header
    */
    .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    }

    .masthead-nav > li {
    display: inline-block;
    }
    .masthead-nav > li + li {
    margin-left: 20px;
    }
    .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
    }
    .masthead-nav > li > a:hover,
    .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
    }
    .masthead-nav > .active > a,
    .masthead-nav > .active > a:hover,
    .masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
    }

    @media (min-width: 768px) {
    .masthead-brand {
    float: left;
    }
    .masthead-nav {
    float: right;
    }
    }


    /*
    * Cover
    */

    .cover {
    padding: 0 20px;
    }
    .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    }


    /*
    * Footer
    */

    .mastfoot {
    color: #aaa; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    }


    /*
    * Affix and center
    */
	
	/* Handle the widths */
	.masthead,
    .mastfoot,
    .cover-container {
		width: 100%;
		max-width: 700px;
	}
	
    @media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
    position: fixed;
    top: 0;
    }
    .mastfoot {
    position: fixed;
    bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
    vertical-align: middle;
    }
    }

    @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
    width: 700px;
    }
    }

</style>

<!-- Workaround for background-size: cover in IE8 -->
<!--[if lte IE 8]>
<img src="{{ homepage_image.url }}" class="ie8-bg" alt="">
<![endif]-->

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <!--
            {% bootstrap_messages %}
            -->

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{ sitecontent.title }} {{ sitecontent.tag_line }}</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            {% if sitecontent.guide_pdf %}
                            <li><a href="{{ sitecontent.guide_pdf.url }}">Help</a></li>
                            {% endif %}
                            <li><a href="{% url 'account_login' %}">Sign in</a></li>
                            <li><a href="{% url 'account_signup' %}">Register</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">{{ sitecontent.title }} {{ sitecontent.tag_line }}</h1>

                <p class="lead">
                    An open source tool for capturing research data -
                    simplifying the process of gathering information in a standard format
                    and preparing it for upload to the {{ sitecontent.portal_title }}.
                </p>

                <p class="lead">
                    <a href="{% url 'account_login' %}" class="btn btn-lg btn-default">Sign in</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover image by
                        <a href="{{ sitecontent.homepage_image_credit_url }}">
                            {{ sitecontent.homepage_image_credit_name }}</a>
                    -
                        Code on <a href="https://github.com/IMASau/geonetwork-data-submission-tool">GitHub</a>
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}
