{% extends "account/base.html" %}


{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "My Account" %}{% endblock %}

{% block content %}
<h1>{% trans "My Account" %}</h1>

<p>Your username is
    <input class="form-control" readonly value="{{ user.username }}"/></p>

{% if user.email %}
<p>Your email address is
    <input class="form-control" readonly value="{{ user.email }}"/>
    <a href="{% url 'account_email' %}">(change)</a></p>
{% else %}
<p>You have not set an email address yet.
    <a href="{% url 'account_email' %}">Add an email address</a></p>
{% endif %}



{% endblock %}