{% extends "base.html" %}
{% load staticfiles %}
{% load frontend_tags %}

{% block body %}
<div class="above-header">
    <div class="container">
        <div class="above-header-section-wrap d-flex">
            <div class="above-header-section above-header-section-1">
                <div class="user-select"><div class="ast-custom-html"><a href="https://tern.org.au">TERN Site</a></div></div>
            </div>

            <div class="above-header-section above-header-section-2">
            <div class="user-select"><div class="ast-custom-html"><a href="https://portal.tern.org.au/" target="_blank" class="btn-orange">TERN Data Portal</a></div></div>
            </div>
        </div>
    </div>
</div>
    <div id="Content"></div>

    <script>
    var payload = {{ payload|safe }}
    </script>
    {% FRONTEND_DEV_MODE as dev_build %}
    {% if dev_build %}
    <script type="text/javascript" src="{% static 'metcalf3/js/dev.js' %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static 'metcalf3/js/prod.js' %}"></script>
    {% endif %}

{% endblock %}
